[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
tk = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.12"
