[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka = "*"
kafka-python = "*"
streamlit = "*"
plotly = "*"
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
